<section class="text-sm border-t border-ubc-blue/20 text-grey-700 bg-grey-50">
  <div class="container px-4 py-6 mx-auto sm--flex unit-content">
    <h3 class="sr-only">Musqueam First Nation land acknowledegement</h3>
    <p class="mt-0 sm--flex-1">We honour xwməθkwəy̓ əm (Musqueam) on whose ancestral, unceded territory UBC Vancouver is situated. UBC Science is committed to building meaningful relationships with Indigenous peoples so we can advance Reconciliation and ensure traditional ways of knowing enrich our teaching and research.</p> <p class="sm--mt-0 sm--flex-none">Learn more:
      <a href="https://www.musqueam.bc.ca/">Musqueam First Nation</a></p>
  </div>
</section>

{% if footer_show %}
  {% include '@kraken/includes/footer.unit.html.twig' %}
{% endif %}

<section class="text-white border-b border-white bg-unit-primary">
  <div class="container grid grid-cols-12 gap-6 px-4 py-16 mx-auto unit-content">
    <div class="col-span-12 md--col-span-5 md--row-span-2">
      <h2 class="mt-0 font-semibold tracking-wide normal-case h3">Faculty of Science</h2>
      <address class="mt-2 text-sm not-italic">Office of the Dean, Earth Sciences Building<br/>2178–2207 Main Mall<br/>Vancouver, BC Canada<br/>V6T 1Z4</address>
    </div>
    <div class="col-span-12 md--col-span-7 md--row-span-1 md--text-right">{{ page.science_footer_menu }}</div>
    {% if facebook_option or twitter_option or youtube_option or linkedin_option or instagram_option %}
    <nav class="col-span-12 md--col-span-7 md--row-span-1 md--text-right">
      <ul class="flex flex-wrap justify-start pl-0 my-0 list-none md--justify-end">
        {% if facebook_option %}
        <li>
          <a href="{{ facebook_option }}" class="block pr-3 text-xs no-underline"><span class="sr-only">Facebook</span> <svg role="presentation" class="inline-block w-6 h-6 text-white stroke-2 hover--text-ubc-blue-polar">
            <use xlink:href="#icon-facebook"></use>
          </svg></a></a>
        </li>
        {% endif %}
        {% if twitter_option %}
        <li>
          <a href="{{ twitter_option }}" class="block pr-3 text-xs no-underline"><span class="sr-only">Twitter</span> <svg role="presentation" class="inline-block w-6 h-6 text-white stroke-2 hover--text-ubc-blue-polar">
            <use xlink:href="#icon-twitter"></use>
          </svg></a></a>
        </li>
        {% endif %}
        {% if instagram_option %}
        <li>
          <a href="{{ instagram_option }}" class="block pr-3 text-xs no-underline"><span class="sr-only">Instagram</span> <svg role="presentation" class="inline-block w-6 h-6 text-white stroke-2 hover--text-ubc-blue-polar">
            <use xlink:href="#icon-instagram"></use>
          </svg></a></a>
        </li>
        {% endif %}
        {% if youtube_option %}
        <li>
          <a href="{{ youtube_option }}" class="block pr-3 text-xs no-underline"><span class="sr-only">YouTube</span> <svg role="presentation" class="inline-block w-6 h-6 text-white stroke-2 hover--text-ubc-blue-polar">
            <use xlink:href="#icon-youtube"></use>
          </svg></a>
        </li>
        {% endif %}
        {% if linkedin_option %}
        <li>
          <a href="{{ linkedin_option }}" class="block text-xs no-underline"><span class="sr-only">LinkedIn</span> <svg role="presentation" class="inline-block w-6 h-6 text-white stroke-2 hover--text-ubc-blue-polar">
            <use xlink:href="#icon-linkedin"></use>
          </svg></a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</section>
<div class="text-white bg-ubc-blue">
  <nav class="container px-4 py-4 mx-auto unit-content">
    <ul class="pl-0 list-none xs--flex">
      <li class="group">
        <a href="https://www.ubc.ca/landing/emergencyprocedures.html" class="block pr-6 text-xs text-white no-underline hover--text-ubc-blue-polar hover--underline">Emergency Procedures
          <svg role="presentation" class="inline-block w-3 h-3 text-current stroke-1 group-hover--text-ubc-blue-polar">
            <use xlink:href="#icon-external-link"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.ubc.ca/site/legal.html" class="block pr-6 text-xs text-white no-underline hover--text-ubc-blue-polar hover--underline">Terms of Use
          <svg role="presentation" class="inline-block w-3 h-3 text-current stroke-1 group-hover--text-ubc-blue-polar">
            <use xlink:href="#icon-external-link"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://copyright.ubc.ca" class="block pr-6 text-xs text-white no-underline hover--text-ubc-blue-polar hover--underline">UBC Copyright
          <svg role="presentation" class="inline-block w-3 h-3 text-current stroke-1 group-hover--text-ubc-blue-polar">
            <use xlink:href="#icon-external-link"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.ubc.ca/accessibility/" class="block pr-6 text-xs text-white no-underline hover--text-ubc-blue-polar hover--underline">Accessibility
          <svg role="presentation" class="inline-block w-3 h-3 text-current stroke-1 group-hover--text-ubc-blue-polar">
            <use xlink:href="#icon-external-link"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
