{{ page.alert_region }}
<div id="clf7__header">
  {% if clf_vue %}
  <slide-up-down :active="showSearch" :duration="125" v-cloak>
    <div class="expand" id="ubc7-global-menu">
  {% else %}
    <div class="collapse expand" id="ubc7-global-menu">
  {% endif %}
      <div id="ubc7-search" class="expand">
        <div class="clf-container">
          <div id="ubc7-search-box">
            <form class="form-search" method="get" action="https://www.ubc.ca/search/refine/" role="search">
              <label for="q" class="hidden">Search UBC</label>
              {% if searchlabel_option %}
              <input id="q" type="text" name="q" placeholder="{{ searchlabel_option }}" class="inline-block mr-2" style="width:auto;">
              {% else %}
              <input id="q" type="text" name="q" placeholder="Search this website" class="inline-block w-auto mr-2" style="width:auto;">
              {% endif %}
              <input type="hidden" name="label" value="Search" />
              {% if searchdomain_option %}
              <input type="hidden" name="site" value="{{ searchdomain_option }}" />
              {% else %}
              <input type="hidden" name="site" value="hr.ubc.ca" />
              {% endif %}
              <button type="submit" class="btn">Search</button>
            </form>
          </div>
        </div> <!-- /clf-container -->
      </div>
      <div class="clf-container">
        <div id="ubc7-global-header" class="expand">
          <div class="row-fluid">
            <div class="span8 offset2">
              <ul class="clearfix reverse">
                <li><a href="https://www.calendar.ubc.ca/">Academic Calendar</a></li>
                <li><a href="https://www.ubc.ca/landing/campusservices.html">Campus Services</a></li>
                <li><a href="https://www.ubc.ca/landing/facultiesschools.html">Faculties &amp; Schools</a></li>
                <li><a href="https://www.library.ubc.ca/">Library</a></li>
                <li><a href="https://www.ubc.ca/about/maps.html">Maps</a></li>
                <li><a href="https://www.ubc.ca/quicklinks/">Quicklinks</a></li>
                <li><a href="https://ssc.adm.ubc.ca/sscportal/">Student Service Centre</a></li>
                <li><a href="https://directory.ubc.ca/index.cfm">UBC Directory</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- /clf-container -->
    </div>
  {% if clf_vue %}
  </slide-up-down>
  {% endif %}
  <header id="ubc7-header" class="row-fluid expand">
    <div class="clearfix clf-container">
      <div class="span1">
        <div id="ubc7-logo">
          <a href="https://www.ubc.ca">The University of British Columbia</a>
        </div>
      </div>
      <div class="span2">
        <div id="ubc7-apom">
          <a href="https://cdn.ubc.ca/clf/ref/aplaceofmind">UBC - A Place of Mind</a>
        </div>
      </div>
      <div class="span9" id="ubc7-wordmark-block">
        <div id="ubc7-wordmark">
          <a href="https://www.ubc.ca">The University of British Columbia</a>
          {% if campus_option == 'vancouver' %}
            <span class="ubc7-campus" id="ubc7-vancouver-campus">Vancouver Campus</span>
          {% endif %}
          {% if campus_option == 'okanagan' %}
            <span class="ubc7-campus" id="ubc7-okanagan-campus">Okanagan Campus</span>
          {% endif %}
        </div>
        <div id="ubc7-global-utility">
          <button type="button" data-bs-toggle="collapse" @click="toggleSearch" data-bs-target="#ubc7-global-menu"><span :class="{ opened : showSearch }">UBC Search</span></button>
          <noscript>&lt;a id="ubc7-global-utility-no-script" href="https://www.ubc.ca/"&gt;UBC
            Search&lt;/a&gt;</noscript>
        </div>
      </div>
    </div> <!-- /clf-container -->
  </header>
  <section id="ubc7-unit" class="!h-auto !box-border">
    <div class="flex flex-wrap items-center justify-between gap-2 !py-2 md--!py-4 text-white mx-auto px-5 md--px-4 container before--!hidden after--!hidden">
      <div class="flex-none md--flex md--flex-col !mr-0 !mt-0" id="ubc7-unit-name">
        {% if is_front %}
          {% if faculty_option %}
            <h1 class="mt-0 !text-xs md--!text-base font-normal !font-['Arial'] leading-[1.75] tracking-wide" id="ubc7-unit-faculty"><a href="https://science.ubc.ca">{{ faculty_name }}</a></h1>
            <h2 class="mt-0 !text-base md--!text-[18px] font-normal !font-['Arial'] leading-tight tracking-wide"><a href="/">{{ unit_name }}</a></h2>
          {% else %}
            <h1 class="mt-0 !text-[18px] font-normal !font-['Arial'] tracking-wide" id="ubc7-unit-faculty">
              <a href="/">{{ unit_name }}</a>
            </h1>
          {% endif %}
        {% else %}
          {% if faculty_option %}
            <div class="mt-0 !text-xs md--!text-base font-normal !font-['Arial'] leading-[1.75] tracking-wide" id="ubc7-unit-faculty"><a href="https://science.ubc.ca">{{ faculty_name }}</a></div>
            <div class="mt-0 !text-base md--!text-[18px] font-normal !font-['Arial'] leading-tight tracking-wide"><a href="/">{{ unit_name }}</a></div>
          {% else %}
            <div class="mt-0 !text-[18px] font-normal !font-['Arial'] tracking-wide" id="ubc7-unit-faculty">
              <a href="/">{{ unit_name }}</a>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <button
        class="btn btn-navbar inline-block !w-[45px] !h-[35px] md--!hidden !mt-0 flex-none"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-unit"
        aria-controls="navbar-unit"
        aria-expanded="false"
        aria-label="Toggle navigation"
        @click="toggleMobileNav"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="flex flex-col-reverse w-full md--flex-1 collapse navbar-collapse md--!block pt-4 md--pt-0 text-sm" id="navbar-unit" v-show="showMobileNav">
        {{ page.primary_menu }}
        {{ page.secondary_menu }}
      </div>

    </div>
  </section>
</div>
